@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

/* .custom-phone-input { */
/* Input appearance */
/* --tel-input-border-radius: 0;
  --tel-input-background: transparent;
  --tel-input-border: 1px solid #d1d5db; */

/* --tel-input-body-bg: white;
  --tel-input-body-border: 1px solid #d1d5db;
  --tel-input-body-z-index: 9999;


  --tel-input-body-item-bg: white;
  --tel-input-body-item-bg-hover: #f3f4f6; */
/* } */
